
<% if @upcoming_messages.any? %>
  <div id="messages">
    <% @upcoming_messages.each do |message| %>
      <%= render message %>
    <% end %>
  </div>
  
<% else %>
  
  <p class="p-2">Aucun message à venir</p>
<% end %>