
<div class="container-fluid p-4">

    <h1>Nouveau message</h1>

    <%= render "form", message: @message %>

    <hr>

    <%= return_model_index_button("Retour vers messages", messages_path) %>

</div>