<h1>Bievenue sur FuturMessage, <%= @user.name %>!</h1>
<p>
  Vous vous êtes bien inscrit(e) sur notre application.
</p>
<p>
  To login to the site, just follow this link: <%= link_to 'Login', @url %>.
</p>
