<div class="container text-secondary m-1 fs-5">
  <div class="row align-items-center justify-content-center">
    <div class="col p-0 m-0">
      <div class="container text-center" data-controller="timecounter">
        <div class="badge text-secondary p-2" style="min-width: 120px;">
          <i class="fa fa-lg fa-clock m-1"></i>
          <div data-timecounter-target="counter" class="my-2">00:00:00</div>
        </div> 
      </div>
    </div>
  </div>
</div>