<footer class="mt-auto bg-light text-dark-50 text-center p-1">

        <% if user_signed_in? %>
        

            <%= link_to user_path(current_user), class:"btn btn-sm btn-ourline-secondary" do %>
                <i class="fa-solid fa-user me-1"></i>
                <%= current_user.name %>


            <% end %>
            
            
        <% else %>

            <%= link_to new_user_session_path, class: "btn btn-outline-warning m-2 p-2 rounded-pill" do %>
                <i class="fa fa-solid fa-user-lock"></i>
                <span class="ms-1 fw-bold">Connexion</span>
            <% end %>


            <%= link_to new_user_registration_path, class: "btn btn-outline-primary m-2 p-2 rounded-pill" do %>
                <i class="fa fa-solid fa-user-plus"></i>
                <span class="ms-1 fw-bold">Nouveau</span>
            <% end %>

        <% end %>

</footer>