<footer class="mt-auto bg-dark text-white-50 text-center p-2">

        <% if user_signed_in? %>
        
            <div class="row">

                <div class="col">
                </div>

                <div class="col-8 text-center">
                    <span class="fw-bold"><%= current_user.name %> </span>
                </div>

                <div class="col">
                    <span class="container-fluid d-flex justify-content-end">
                        <%= button_to destroy_user_session_path, method: :delete, class: "btn btn-sm btn-danger d-flex align-items-center" do %>
                            <i class="fa-solid fa-right-from-bracket"></i>
                        <% end %>
                    </span>
                </div>
            </div>
        <% else %>

            <%= link_to new_user_session_path, class: "btn btn-outline-warning m-2 p-2 rounded-pill" do %>
                <i class="fa fa-solid fa-user-lock"></i>
                <span class="ms-1 fw-bold">Connexion</span>
            <% end %>


            <%= link_to new_user_registration_path, class: "btn btn-outline-primary m-2 p-2 rounded-pill" do %>
                <i class="fa fa-solid fa-user-plus"></i>
                <span class="ms-1 fw-bold">Nouveau</span>
            <% end %>

        <% end %>

</footer>