
<nav class="navbar navbar-expand-lg light-beige-colored shadow-sm">
  <div class="container-fluid">

    <div class="d-flex flex-column align-items-center">  

      <%= link_to root_path do %>
        <%#= link_to image_tag('/images/logo_courant.png', class: '', width: "100"), root_path %>
        
        <div class="badge bg-secondary text-light p-2" style="min-width: 140px;">
          <div data-controller="timecounter">
            <i class="fa fa-lg fa-clock me-1"></i>
            <span data-timecounter-target="timer">00:00:00</span>
          </div>
        </div> 
      
      <% end %>
      
    </div>


    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav me-auto my-2 my-lg-0">
        <%= nav_link(root_path, "Accueil", "fa-house") %>
        <%= nav_link(messages_path, "Messages", "fa-message") %>
        <%= nav_link(users_path, "Utilisateurs", "fa-users") %>

      </ul>

    </div>

  </div>
</nav>