<div class="card border shadow p-2 justify-content-bottom text-center appear">

    <h4> Envoyez des messages dans le futur </h4>

    Découvrez notre outil qui vous permet d'envoyer des messages dans le futur à vos proches, amis, membres de la famille, ou même à vous-même. <br>
    Grâce à notre plateforme, planifiez des messages émotionnels, des rappels importants ou des surprises pour des occasions spéciales. <br>

    <hr>

    <h4>Fonctionnalités clés :</h4>

    Envoi par email : Programmez un email à envoyer à la date et l'heure de votre choix. <br>
    Envoi par SMS : Surprenez vos amis ou votre famille avec un SMS futur. <br>
    Lettre écrite : Faites livrer une lettre manuscrite à une date ultérieure pour une touche personnelle et intemporelle. <br>

    <hr>

    Notre application web est facile à utiliser, sécurisée et vous offre la flexibilité de choisir le mode d'envoi qui convient le mieux à votre message. <br>
    Ne manquez plus jamais une occasion importante et créez des souvenirs mémorables avec notre service unique. <br>

    Essayez notre application dès aujourd'hui et commencez à envoyer des messages dans le futur !

</div>