    <h2 class="text-container text-light text-center position-absolute top-0 w-100 px-4 mt-2">
        <strong> FuturMessage </strong>   <hr>

        Envoyez vorte message aujourd'hui <br> <br>
        Décidez de la date à laquelle il pourra être lu
    </h2>