<h1 class="m-4 text-center">à propos</h1>
<div class="container-fluid">
  <div class="row justify-content-center">

    <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center mb-4">
      <div class="card appear" style="width: 36rem;">
        <%= image_tag("/images/about1.jpg", class:"card-img-top", alt: "message pour vos proches") %>
        <div class="card-body">
          <h5 class="card-title fw-bold">Messages à vos proches</h5>
          <p class="card-text">
            Planifiez des messages à envoyer à vos proches à des dates importantes. 
            Que ce soit un anniversaire, un mariage, ou tout autre événement marquant, soyez toujours présent même si vous ne pouvez pas être là physiquement.
          </p>
          <div class="card-footer p-0 my-2"> 
            <a class="btn btn-secondary fw-bold w-100" data-bs-toggle="collapse" href="#collapse1" role="button" aria-expanded="false" aria-controls="collapse1">
              En savoir plus
            </a>  
            <div class="collapse" id="collapse1">
              <p>
                Ne manquez jamais une occasion spéciale. 
                Vous pouvez enregistrer un message personnalisé et le programmer pour qu'il soit envoyé à la date exacte. 
                Imaginez le sourire sur le visage de votre ami(e) lorsqu'il/elle reçoit votre message le jour de son anniversaire, même si vous êtes à des milliers de kilomètres.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center mb-4">
      <div class="card appear" style="width: 36rem;">
        <%= image_tag("/images/about2.jpg", class:"card-img-top", alt: "message pour vous-même") %>
        <div class="card-body">
          <h5 class="card-title fw-bold">Messages pour vous-même</h5>
          <p class="card-text">
            Envoyez des messages à votre futur vous pour vous rappeler de vos objectifs, vous motiver ou simplement pour le plaisir de redécouvrir vos pensées d'antan.          
          </p>
          <div class="card-footer p-0 my-2"> 
            <a class="btn btn-secondary fw-bold w-100" data-bs-toggle="collapse" href="#collapse2" role="button" aria-expanded="false" aria-controls="collapse2">
              En savoir plus
            </a>  
            <div class="collapse" id="collapse2">
              <p>
                Envoyer un message à votre futur vous est une manière unique de rester connecté avec vos ambitions et vos rêves. 
                Enregistrez une vidéo ou écrivez un message pour vous rappeler pourquoi vous avez commencé un projet, ou pour voir combien vous avez évolué au fil des années. 
                C'est une façon amusante et introspective de voyager dans le temps.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center mb-4">
      <div class="card appear" style="width: 36rem;">
        <%= image_tag("/images/about3.jpg", class:"card-img-top", alt: "message pour vos enfants") %>
        <div class="card-body">
          <h5 class="card-title fw-bold">Messages pour vos enfants</h5>
          <p class="card-text">
            Créez des messages pour vos enfants qu'ils recevront lorsqu'ils seront plus grands. Partagez vos pensées, vos conseils et vos souvenirs avec eux pour qu'ils les chérissent toute leur vie.
          </p>
          <div class="card-footer p-0 my-2"> 
            <a class="btn btn-secondary fw-bold w-100" data-bs-toggle="collapse" href="#collapse3" role="button" aria-expanded="false" aria-controls="collapse3">
              En savoir plus
            </a>  
            <div class="collapse" id="collapse3">
              <p>
                Enregistrez des vidéos de vous-même partageant des moments spéciaux ou des conseils que vos enfants pourront voir quand ils seront plus grands. 
                Imaginez leur émotion lorsqu'ils recevront une vidéo de vous leur parlant de leurs premières années, ou leur donnant des conseils pour l'université ou le mariage. 
                Ces messages deviendront des trésors inestimables pour eux.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center mb-4">
      <div class="card appear" style="width: 36rem;">
        <%= image_tag("/images/about4.jpg", class:"card-img-top", alt: "message pour une occasion") %>
        <div class="card-body">
          <h5 class="card-title fw-bold">Messages de célébration</h5>
          <p class="card-text">
            Programmez des messages de célébration pour les fêtes et les grandes occasions, même si vous ne pouvez pas être là en personne. Soyez présent dans l'esprit de ceux que vous aimez.
          </p>
          <div class="card-footer p-0 my-2"> 
            <a class="btn btn-secondary fw-bold w-100" data-bs-toggle="collapse" href="#collapse4" role="button" aria-expanded="false" aria-controls="collapse4">
              En savoir plus
            </a>  
            <div class="collapse" id="collapse4">
              <p>
                Ne laissez pas la distance vous empêcher de participer aux célébrations. 
                Enregistrez des messages de vœux pour Noël, le Nouvel An, ou toute autre fête importante, et programmez-les pour qu'ils soient envoyés à temps. 
                Vos proches sentiront votre présence et sauront que vous pensez à eux malgré la distance.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>


