<h1 class="m-4 text-center"> à propos </h1>

<%= image_tag('/images/logo_courant.png', class: "img-fluid scroll-appear") %>

<div class="card m-2 p-2 scroll-appear">
    Sunt laboris laboris aliquip adipisicing aute ex veniam enim culpa nostrud reprehenderit. Esse in elit nisi aliquip non id consequat proident. Aliqua et minim laboris aliquip nostrud exercitation id ullamco. Et qui qui elit officia fugiat irure ullamco deserunt qui cillum proident duis officia. Aute deserunt ad aute ullamco. Labore do voluptate sunt labore duis.
    Mollit eiusmod exercitation aliquip ad esse consequat et adipisicing. Enim dolor eu enim incididunt velit irure est. Minim laborum id mollit dolore consectetur irure aliquip fugiat nulla laboris.
</div>

<div class="scroll-appear">
    test div scroll animate
</div>


<%= image_tag('/images/logo_courant.png', class: "img-fluid scroll-animate") %>

<div class="card m-2 p-2 scroll-appear">
    Sunt laboris laboris aliquip adipisicing aute ex veniam enim culpa nostrud reprehenderit. Esse in elit nisi aliquip non id consequat proident. Aliqua et minim laboris aliquip nostrud exercitation id ullamco. Et qui qui elit officia fugiat irure ullamco deserunt qui cillum proident duis officia. Aute deserunt ad aute ullamco. Labore do voluptate sunt labore duis.
    Mollit eiusmod exercitation aliquip ad esse consequat et adipisicing. Enim dolor eu enim incididunt velit irure est. Minim laborum id mollit dolore consectetur irure aliquip fugiat nulla laboris.
</div>

<div class="card m-2 p-2 scroll-appear">
    Sunt laboris laboris aliquip adipisicing aute ex veniam enim culpa nostrud reprehenderit. Esse in elit nisi aliquip non id consequat proident. Aliqua et minim laboris aliquip nostrud exercitation id ullamco. Et qui qui elit officia fugiat irure ullamco deserunt qui cillum proident duis officia. Aute deserunt ad aute ullamco. Labore do voluptate sunt labore duis.
    Mollit eiusmod exercitation aliquip ad esse consequat et adipisicing. Enim dolor eu enim incididunt velit irure est. Minim laborum id mollit dolore consectetur irure aliquip fugiat nulla laboris.
</div>

<div class="card m-2 p-2 scroll-appear">
    Sunt laboris laboris aliquip adipisicing aute ex veniam enim culpa nostrud reprehenderit. Esse in elit nisi aliquip non id consequat proident. Aliqua et minim laboris aliquip nostrud exercitation id ullamco. Et qui qui elit officia fugiat irure ullamco deserunt qui cillum proident duis officia. Aute deserunt ad aute ullamco. Labore do voluptate sunt labore duis.
    Mollit eiusmod exercitation aliquip ad esse consequat et adipisicing. Enim dolor eu enim incididunt velit irure est. Minim laborum id mollit dolore consectetur irure aliquip fugiat nulla laboris.
</div>


<div class="scroll-appear">
    test div scroll animate going to left
</div>

