<h1 class="m-4 text-center">à propos</h1>
<div class="container-fluid">
  <div class="row justify-content-center">

    <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center mb-4">
      <div class="card scroll-appear-element" style="width: 36rem;">
        <%= image_tag("/images/logo_courant.png", class:"card-img-top") %>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center mb-4">
      <div class="card scroll-appear-element" style="width: 36rem;">
        <%= image_tag("/images/logo_courant.png", class:"card-img-top") %>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center mb-4">
      <div class="card scroll-appear-element" style="width: 36rem;">
        <%= image_tag("/images/logo_courant.png", class:"card-img-top") %>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center mb-4">
      <div class="card scroll-appear-element" style="width: 36rem;">
        <%= image_tag("/images/logo_courant.png", class:"card-img-top") %>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

  </div>
</div>


