<h1 class="text-center">Accueil</h1>

<h2 class="container p-2 m-4 text-center"> 
    Envoyez vorte message aujourd'hui <br>
    Le destinataire ne pourra le lire qu'à la date que vous avez choisi !
</h2>

nombres d'utilisateurs: <%= @users.count %> <br>
nombre de messages:  <%= @messages.count %> <br>

<hr>

<%= link_to  "messages", messages_path, class: "btn btn-primary fw-bold" %>

<%= link_to  "utilisateurs", users_path, class: "btn btn-dark fw-bold" %>