<h1 class="text-center fw-bold">Accueil</h1>

<h2 class="container p-2 m-2 text-center"> 
    Envoyez vorte message aujourd'hui <br>
</h2>

<h2 class="container p-2 m-2 text-center"> 
    Le destinataire ne pourra le lire qu'à la date que vous avez choisie !
</h2>

<hr>

nombres d'utilisateurs: <span class="badge bg-secondary"> <%= @users.count %> </span> <br>
nombre de messages: <span class="badge bg-secondary"> <%= @messages.count %>  </span> <br>

<hr>



<%= link_to new_message_path, 
      class: "btn btn-primary fw-bold w-100 my-1" do %>

  <i class="fa-regular fa-pen-to-square"></i>
  <span> Send new message </span> 

<% end %>


<%= link_to messages_path, 
      class: "btn btn-dark fw-bold w-100 my-1" do %>
  <i class="fa-regular fa-envelope"></i>
  <span> My messages </span> 

<% end %>

<%#= link_to  "utilisateurs", users_path, class: "btn btn-dark fw-bold" %>