<h1>Accueil</h1>


nombres d'utilisateurs: <%= @users.count %> <br>
nombre de messages:  <%= @messages.count %> <br>

<hr>

<%= link_to  "messages", messages_path, class: "btn btn-primary fw-bold" %>

<%= link_to  "utilisateurs", users_path, class: "btn btn-dark fw-bold" %>