<h1>home</h1>


nombres d'utilisateurs: <%= @users.count %> <br>
nombre de messages envoyées:  <%= @messages.count %> <br>

<%= link_to  "messages", messages_path %>

<%= link_to  "utilisateurs", users_path %>