<br><br>

<div class="container appear bg-success py-4 my-4">
   <hr> content <hr>
   <hr> content <hr>
</div>


<div class="container appear bg-success py-4 my-4">
   <hr> content <hr>
   <hr> content <hr>
</div>

<div class="container appear bg-success py-4 my-4">
   <hr> content <hr>
   <hr> content <hr>

</div>


<div class="container appear bg-success py-4 my-4">
   <hr> content <hr>
   <hr> content <hr>
</div>