<h1>L'envoi de votre message a bien été programmé !</h1>
<p>
  Le message sur l'adresse <%= @message.receiver.email %> sera envoyé le <%= @message.sent_at %>
</p>

<p>
  Votre message :
</p>

<p>
  <%= @message.content %>
</p>

<p>
 Pour vous connectez : <%= link_to 'FuturMessage', @url %>.
</p>
