/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body{
    background-color: rgb(238, 238, 238);
 }


 .exclusive-post {
    filter: blur(10px); /* Adjust the blur intensity as needed */
  }


  
.video-container {
  position: relative;
  width: 100%;
  height: 70vh; /* Set the height to full viewport height */
  overflow: hidden;
}

.video-container video {
  min-width: 100%; /* Ensure video covers full width */
  min-height: 100%; /* Ensure video covers full height */
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.video-container span {
/*    max-width: 80%; */
  position: relative;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
}

.bg-transparency {
  background-color: rgba(0, 0, 0, 0.2);
}

.bg-light-transparency {
  background-color: rgba(255, 255, 255, 0.9);
}


.bg-transparent {
  background-color: rgba(0, 0, 0, 1);
}

.bg-white-transparency {
  background-color: rgba(0, 0, 0, 0);
}


body {
  background-image: url('svgs/bg-landing.svg');
  background-size: cover; /* Adjust this to your preference */
  background-repeat: no-repeat;
  background-position: center center; /* Adjust this to your preference */
}

h1{
  font-family:Georgia, 'Times New Roman', Times, serif ;
}

h3{
  font-family:Georgia, 'Times New Roman', Times, serif ;
  font-weight: 800;
}

.max-widthed{
  max-width: 1200px;
}

.navbar{
  /* background-color: var(--primary-color);   */
  position: sticky; /* Fixed position to stay at the top */
  top: 0; /* Stick to the top of the viewport */
  left: 0;
  right: 0;
 /* background-color: rgba(255, 255, 255, 0.5); /* Set background color to white with 0.7 (70%) opacity */
  z-index: 2; /* Higher z-index to render above content */
}

.navbar-item{
  color: rgb(160, 156, 156);
  text-decoration: none;
}

.selected-navbar{
  color: rgb(77, 77, 76);
}

.card-connexion{
  width: 90%;
  max-width: 500px;
}

/* ANIMATIONS */

.scroll-animate {
  will-change: transform, opacity;
  opacity: 0; /* Initial state before animation */
}

.scroll-appear {
  will-change: opacity;
  opacity: 0; /* Initial state before animation */
}

.scroll-slide-right {
  will-change: transform;
  transform: translateX(-100%); /* Initial state before animation */
}

.bg-paper{
  background-color: rgb(236, 234, 211);
}




.background-image {
  position: relative;
  width: 100%;
  height: 500px; /* Adjust height as needed */
  overflow: hidden; /* Ensures the image fits within the div */
}

.background-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the entire div */
  z-index: -1; /* Places the image behind the text */
}

.text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1rem;
  box-sizing: border-box;
}

.text-overlay .input-group {
  height: 100%;
}

.text-overlay .form-control {
  width: 100%;
  height: 100%;
  resize: none; /* Prevents manual resizing of the textarea */
  box-sizing: border-box;
  background: transparent;
  color: white; /* Ensure text is visible */
}

.letter-background {
  background-color: rgb(240, 240, 237);
}


/* Define the keyframes for the fade-in and fade-out animations */
@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@keyframes fadeOut {
  from {
      opacity: 1;
  }
  to {
      opacity: 0;
  }
}

/* Initially, elements are hidden */
.scroll-appear {
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

/* Add this class when the element is in view */
.scroll-appear.in-view {
  animation: fadeIn 2s forwards;
}

/* Add this class when the element is out of view */
.scroll-appear.out-of-view {
  animation: fadeOut 2s forwards;
}


.card-shadowed{
  border-radius: 10px;
  background: #ffffff;
  box-shadow:  16px 16px 32px #bebebe,
             -16px -16px 32px #ffffff;
}